.main {
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* padding: 6rem; */
  min-height: 100vh;
  justify-content: center;
  margin-top: 15rem;
}

.topNav {
  width: 100%;
  height: 4rem;
  display: flex;
}

.navItems {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 2.5rem;
}

.navItems a {
  display: flex;
  align-items: center;
  margin-left: 5rem;
  color: #fff;
  list-style-type: none;
}

.navItems li:hover {
  color: #552cf2;
}

.pfp {
  border-radius: 50%;
}

.heroSection {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSection h1 {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 5rem;
}
.heroSection h2 {
  margin-top: 1rem;
  font-size: 1.35rem;
  color: #6b6c74;
  text-align: center;
}
.heroSection p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.heroBtn {
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  background-image: linear-gradient(to right, #766dfa, #552cf2);
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-top: 2.5rem;
  cursor: pointer;
  transition: ease 0.3s;
  color: #fff;
}

.heroBtn:hover {
  transform: scale(1.1);
}

.about {
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.bio {
  margin-top: 1rem;
  text-align: center;
  color: #6b6c74;
  font-size: 1.3rem;
  width: 80vw;
  max-width: 700px;
}

.bio span {
  color: #fff;
}

.skillList {
  margin-top: 2.5rem;
  width: 500px;
}

.skillCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.6rem;
}

.skillCard {
  display: flex;
  align-items: center;
  width: 12.5rem;
  background-color: #1b1b22a2;
  padding: 0.5rem;
  border-radius: 5px;
  transition: ease-in-out 0.2s;
}

.skillCard p {
  margin-left: 1rem;
}

.skillCard:hover {
  transform: translateY(-4px);
  box-shadow: 2px 2px 10px black;
}

.projects {
  margin-top: 14rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.projects h1 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.projectCard {
  width: 80vw;
  height: auto;
  background-image: linear-gradient(to right, #766dfa, #552cf2);
  padding: 1rem;
  display: flex;
  margin: 2rem;
  border: none;
  transition: ease 0.2s;
  text-align: left;
  border-radius: 10px;
}

.projectImg {
  height: auto;
  height: 17.5rem;
  width: auto;
  border: 2px solid white;
  border-radius: 5px;
}

.projectCard:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 4px 4px 15px black;
}

.projectCard h2 {
  margin-left: 1rem;
  margin-top: 0.8rem;
}

.projectCard p {
  background-color: #111119da;
  padding: 0.8rem;
  width: 420px;
  /* margin-left: -4rem; */
  margin-top: 2rem;
}

.projectCard h4 {
  margin: 0.4rem;
  margin-top: 2rem;
}

.projectCard li {
  margin: 0.4rem;
  margin-left: 2rem;
}

.projectCard:nth-child(even) {
  flex-direction: row-reverse;
}

.contact {
  margin-top: 10rem;
  text-align: center;
  background-color: #552cf2;
  padding: 2rem;
  border-radius: 10px;
}

/* .contactForm {
  display: flex;
  flex-direction: column;
  background-color: #552cf2;
  padding: 2rem;
  border-radius: 10px;
  text-align: left;
}

.inputName,
.inputEmail {
  height: 2.5rem;
  width: 20rem;
  margin-bottom: 1rem;
  margin-top: 2px;
  background-color: #fcfdff;
  border-radius: 5px;
  border: none;
  color: black;
  padding: 7.5px;
  font-size: 1rem;
}

.inputMessage {
  height: 10rem;
  margin-top: 2px;
  width: 20rem;
  background-color: #fcfdff;
  border-radius: 5px;
  border: none;
  color: black;
  padding: 7.5px;
  font-size: 1rem;
  font-family: default;
}

.formSubmit {
  margin-top: 1rem;
  height: 2.5rem;
  background-color: #111119da;
  border: none;
  cursor: pointer;
} */

@media screen and (max-width: 1250px) {
  .projectImg {
    height: 15rem;
  }
}

@media screen and (max-width: 1150px) {
  .projectCard p {
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .main {
    padding: 0;
  }
  .projectCard:nth-child(even) {
    flex-direction: column;
  }
  .projectCard {
    flex-direction: column;
    width: 70vw;
    height: auto;
    align-items: center;
    max-width: 450px;
  }

  .projectCard img {
    width: 100%;
  }
  .projectCard p {
    background-color: transparent;
    width: 65vw;
    max-width: 420px;
    justify-content: center;
  }
}

@media screen and (max-width: 685px) {
  .heroSection h1 {
    font-size: 3rem;
  }
  .projectCard {
    width: 80vw;
  }
}

@media screen and (max-width: 480px) {
  .skillCard {
    width: 40vw;
  }
  .skillCard p {
    font-size: 0.8rem;
    margin-left: 8px;
  }
  .heroSection h1 {
    font-size: 2rem;
  }
  .projectCard p {
    width: 75vw;
  }
}
